.potree_container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.potree_viewer {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.potree_sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background: rgba(32, 32, 32, 0.8);
    color: white;
    z-index: 100;
    transition: transform 0.3s ease;
}

.potree_measurement {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 3px;
}